---
layout: layouts/home.njk
permalink: /404.html
eleventyExcludeFromCollections: true
---
<div class="w-full min-h-screen">

<div class="flex flex-1 items-center justify-center">

    <h1 class="text-8xl">(^_^)b</h1>
    <p class="text-lg">Something went wrong. Please try again soon.</p>

</div>

</div>