--- 
layout: layouts/empty.njk
permalink: /404.html
eleventyExcludeFromCollections: true 
---
{% set emoji=["(;-;)","\(o_o)/","(='X'=)","(·.·)","(·_·)","(>_<)","\(^Д^)/","(^_^)b","(˚Δ˚)b","(o^^)o","(^-^*)","(≥o≤)"] %}

<div class="min-h-screen flex flex-1 flex-col items-center justify-center">

    <h1 style="direction: ltr;font-size: 10rem;" class="text-gray-300">{{emoji | random}}</h1>
    <p class="text-lg text-center mt-4"> متاسفانه، صفحه‌ی مورد نظر یافت نشد. </p>

</div>