---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: posts
  title: وبلاگ
  order: 2
  visible: true
---

<h1>وبلاگ</h1>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
