---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: posts
  title: پست‌ها
  order: 2
---

<h1>پست‌ها</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
