---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  title: خانه 
  order: 1
  visible: true
---
<div class="h-1/4">
  <img src="/img/tehran_night.jpg" class="w-full h-full object-center object-cover" />
  <p class="text-sm text-left text-gray-300">
    Photo by <a class=" text-gray-300" href="https://unsplash.com/@sajjadahmadi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sajjad Ahmadi</a> on <a class=" text-gray-300" href="https://unsplash.com/s/photos/Tehran?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </p>
</div>