---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - project
    - projects
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h1>تگ “{{ tag }}”</h1>

{% set tagslist = collections[ tag ] %}
{% include "tagslist.njk" %}

<p>دیدن <a href="{{ '/tags/' | url }}">همه‌ی تگ ها</a>.</p>
