<ul reversed class="postlist list-none" style="counter-reset: start-from {{ (postslistCounter or projectslist.length) + 1 }}">
{% for post in projectslist | reverse %}
{%- set isDraft = post.data.draft %}
  <li class=" text-right {% if post.url == url %} postlist-item-active{% endif %}">
    <a {% if isDraft === false %} href="{{ post.url | url }}"  class=" underline" {% else %} class=" no-underline"  {% endif %}>
      {% if post.data.title %}
        {{ post.data.title }}
        {% if isDraft %}
          [به زودی منتشر میشود]
        {% endif %}
      {% else %}
      <code>{{ post.url }}</code>
      {% endif %}
    </a>
    {% if isDraft %}
      <small class=" text-xs"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | tillNow }}</time></small>
    {% else %}
      <small class=" text-xs"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></small>
    {% endif %}
  </li>
{% endfor %}
</ul>
