<ul reversed class="tagslist list-none" style="counter-reset: start-from {{ (tagslistCounter or tagslist.length) + 1 }}">
{% for post in tagslist | reverse %}
{%- set isDraft = post.data.draft %}
  <li class=" text-right {% if post.url == url %} postlist-item-active{% endif %}">
    <a {% if isDraft === false %} href="{{ post.url | url }}" class="tagslist-link"{% endif %}>
      {% if post.data.title %}
        {{ post.data.title }}
      {% else %}
      <code>{{ post.url }}</code>
      {% endif %}
    </a>
    <span class=" text-xs rounded text-gray-600 bg-blue-300 px-2">{{ post.filePathStem | category }}</span>
    {% if isDraft %}
      <small class=" text-xs"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | tillNow }}</time></small>
    {% else %}
      <small class=" text-xs"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></small>
    {% endif %}
  </li>
{% endfor %}
</ul>
